.projects {
    display: flex;
    flex-flow: column nowrap;

    .project-section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        width: 100%;

        .project {
            width: 25%;
            height: auto;
            background-color: #19191A;

            a {
                text-decoration: none;
                text-align: center;
                color: #C3C4C4;

                img{
                    width: 100%;
                    height: 380px;
                    background: url("/images/oerBookr.png");
                    background-size: contain;
                }
            }
        }
    }

}